<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCPServer4._0.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TCPServer4._0.Settings>
            <setting name="HostIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="HostPort" serializeAs="String">
                <value>1321</value>
            </setting>
            <setting name="receiveFSFilePath" serializeAs="String">
                <value>C:\CHINA_TADS_M\MCurrentData\</value>
            </setting>
            <setting name="serverTrainIDPath" serializeAs="String">
                <value>C:\CHINA_TADS_M\SyncFiles\TrainID.txt</value>
            </setting>
            <setting name="ClientIP" serializeAs="String">
                <value>请在此配置远端IP地址，类似192.168.10.3</value>
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="receiveSoundFilePath" serializeAs="String">
                <value>C:\CHINA_TADS_M\MAxleArch\</value>
            </setting>
            <setting name="sendFSFilePath" serializeAs="String">
                <value>C:\CHINA_TADS_M\MCurrentData</value>
            </setting>
            <setting name="sendSoundFilePath" serializeAs="String">
                <value>C:\CHINA_TADS_M\MAxleArch</value>
            </setting>
            <setting name="sendErrorFilePath" serializeAs="String">
                <value>C:\CHINA_TADS_M\MSendAxles</value>
            </setting>
            <setting name="receiveErrorFilePath" serializeAs="String">
                <value>C:\CHINA_TADS_M\MSendAxles\</value>
            </setting>
            <setting name="sendDatFilePath" serializeAs="String">
                <value>C:\CHINA_TADS_M\MAxleArch</value>
            </setting>
            <setting name="receiveDatFilePath" serializeAs="String">
                <value>C:\CHINA_TADS_M\MAxleArch\</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="receiveWavFilePath" serializeAs="String">
                <value>C:\CHINA_TADS_M\MAxleArch\</value>
            </setting>
            <setting name="receiveWavFilePath2" serializeAs="String">
                <value>C:\CHINA_TADS_M\MSendAxles\</value>
            </setting>
        </TCPServer4._0.Settings>
    </userSettings>
</configuration>